/* Box Sizing */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Framework */

body {
    margin: 0 auto;
    background: #ffffff;
}

a {
    text-decoration: none;
}

h4 a.link {
    color: #dddddd;
    font-size: 18px;
}

header {
    background-color: #00548B;
    margin-bottom: 24px!important;
}

footer {
    margin-top: 16px!important;
}

.header-align {
    max-width: 1568px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.header-align .col-6 {
    text-align: right;
    padding: 0 16px;
}

.header-align .col-6:first-of-type {
    text-align: left;
}

.white {
    color: #ffffff;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
    background: #ffffff;
}

.row {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.cards {
    width: 83.33%;
    margin: 0 auto;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* Text - Fonts */

.font-weight-400 {
    font-weight: 400;
}

.font-weight-300 {
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.margin-center {
    margin: 0 auto;
}

.font-lato {
    font-family: "Lato", sans-serif;
}

.font-grey {
    color: #555;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
    margin: 16px 0;
}

h2.uppercase {
    padding-left: 0.2em;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
    padding: 16px 0;
    margin: 0;
}

h4 a {
    color: #ddd;
    text-decoration: none;
}

h5 {
    font-size: 18px;
}

/* Margins and Padding */

.padding-1em {
    padding: 16px;
}

.padding-2em {
    padding: 2em;
}

.padding-left-2em {
    padding-left: 2em;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-top-0 {
    padding-top: 0;
}

/* Images */

img {
    width: 100%;
    border: none;
}

.portfolio-item,
.portfolio-item img {
    box-shadow: 1px 1px 2px 1px #aaa;
}

/* Footer */

.footer-background {
    background-color: #00548B;
    color: #ddd;
}

/* Project */

.logo {
    max-width: 150px;
    max-height: 150px;
}

.header-border {
    border-bottom: 4px solid #f80;
}

.project-title {
    margin: 0.5em 0 0.25em 0;
}

.contact {
    padding: 16px 24px;
}

.portfolio-item {
    background: #fff;
    margin: 24px auto;
    max-width: 30%;
}

/* Media Queries */

@media screen and (max-width: 1136px) {
    h3 {
        font-size: 24px;
    }

    .header-align {
        display: block;
    }

    .header-align .col-6 {
        text-align: center!important;
    }

    header .col-6 {
        width: 100%;
    }

    h1 {
        font-size: 36px;
        margin: 0;
    }

    h2 {
        font-size: 24px;
        margin: 0.5em 0;
    }

    .logo-box,
    .header-box {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .logo {
        padding: 0;
    }

    .portfolio-item {
        min-width: 480px;
        background: #fff;
    }

    .contact {
        text-align: center;
    }

}
/* 
@media screen and (max-width: 768px) {

    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 24px;
    }

    h2 {
        font-size: 24px;
        margin: 0.5em 0;
    }

    .portfolio-item {
        width: 100%;
        background: #fff;
    }
}

@media screen and (max-width: 640px) {

    h1 {
        font-size: 36px;
        margin: 0;
    }

    h2 {
        font-size: 24px;
        margin: 0.5em 0;
    }

    .logo-box,
    .header-box {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .logo {
        padding: 0;
    }

    .portfolio-item {
        min-width: 320px;
        background: #fff;
    }

    .contact {
        text-align: center;
    }
} */

@media screen and (max-width: 768px) {

    .header-align {
        display: block;
    }

    .header-align .col-6 {
        text-align: center!important;
    }

    header .col-6 {
        width: 100%;
    }

    h1 {
        font-size: 36px;
        margin: 0;
    }

    h2 {
        font-size: 24px;
        margin: 0.5em 0;
    }

    .logo-box,
    .header-box {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .logo {
        padding: 0;
    }

    .portfolio-item {
        min-width: 480px;
        background: #fff;
    }

    .contact {
        text-align: center;
    }
}

@media screen and (max-width: 640px) {

    .header-align {
        display: block;
    }

    .header-align .col-6 {
        text-align: center!important;
    }

    header .col-6 {
        width: 100%;
    }

    h1 {
        font-size: 36px;
        margin: 0;
    }

    h2 {
        font-size: 24px;
        margin: 0.5em 0;
    }

    .logo-box,
    .header-box {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .logo {
        padding: 0;
    }

    .portfolio-item {
        width: 100%;
        max-width: 480px;
        min-width: 300px;
        background: #fff;
    }

    .contact {
        text-align: center;
    }
}

@media screen and (max-width: 320px) {

    h1 {
        font-size: 32px;
        margin: 0;
    }

    h2 {
        font-size: 20px;
        margin: 0.5em 0;
    }

    h3 {
        text-align: center;
    }

    .portfolio-item {
        width: 100%;
        min-width: 240px;
        background: #fff;
    }

    p {
        text-align: center;
    }
}